node_modules/
npm-debug.log
yarn-error.log

client/node_modules/

server/.env

.DS_Store
Thumbs.db

.eslintcache
*.log
.env

.classpath
.project
.settings/

*.xcodeproj/
*.xcworkspace/

*.idea/

.idea/
.vscode/
*.iml



