.header-container {
  width: 62%;
  text-align: center;
}
.header-container span, .header-container h3 {
  display: inline-block;
  font-size: 20px;
}
.header-container span {
  padding-bottom: 12px;
}