#search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  width: 80%;
}

#search-input {
  padding: 0;
  padding-left: 8px;
  margin-right: 16px;
  width: 220px;
  height: 60px;
  font-size: large;
  outline: none;
  padding-left: 16px;
  border: none;
  font-weight: 600;
}

#search-select {
  padding: 8px;
  margin-right: 16px;
  height: 60px;
  font-size: large;
  font-weight: 600;
}

#search-button {
  padding: 18px;
  cursor: pointer;
  height: 60px;
  font-size: large;
  font-weight: 600;
}
#search-input:hover, #search-select:hover, #search-button:hover {
  box-shadow: 2px 2px 26px 9px #ccc; 
}

#error-message {
  color: red;
  margin-top: 10px;
}

#results-container {
  margin-top: 20px;
}
.search-wrapper {
  width: 100%;
  text-align: center;
}